<nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid fondo">
    <a class="navbar-brand" href="#">
      <img
        class="icono"
        src="../../../assets/img/LAW-logo.png"
        alt="Bootstrap"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active fs-4 fw-medium"
            aria-current="page"
            href="#"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-4 fw-medium" href="#">Contacto</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle fs-4 fw-medium"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Nuestra Firma
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Quiénes Somos</a></li>
            <li><a class="dropdown-item" href="#">Nuestros Abogados</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle fs-4 fw-medium"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Derecho de Familia</a></li>
            <li><a class="dropdown-item" href="#">Derecho Civil</a></li>
            <li><a class="dropdown-item" href="#">Derecho Laboral</a></li>
            <li><a class="dropdown-item" href="#">Derecho Comercial</a></li>
            <li>
              <a class="dropdown-item" href="#">Derecho Administrativo</a>
            </li>
            <li><a class="dropdown-item" href="#">Derecho Penal</a></li>
          </ul>
        </li>
      </ul>
      <div class="btn-group-container d-flex align-items-center m-1">
        <div class="btn-group">
          <a
            href=""
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-reunion"
          >
            <img
              src="../../../assets/icons/reunion.png"
              alt="Whatsapp"
              class="btn-icon"
            />
            <span class="btn-text">Agenda Tu Cita</span>
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=5551234567"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-whatsapp"
          >
            <img
              src="../../../assets/icons/whatsapp.png"
              alt="Whatsapp"
              class="btn-icon"
            />
            <span class="btn-text">Whatsapp</span>
          </a>
          <a href="tel:3016579423" class="btn btn-telefono">
            <img
              src="../../../assets/icons/telefono.png"
              alt="Telefono"
              class="btn-icon"
            />
            <span class="btn-text">Llamanos</span>
          </a>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-instagram"
          >
            <img
              src="../../../assets/icons/instagram.png"
              alt="Instagram"
              class="btn-icon"
            />
            <span class="btn-text">Instagram</span>
          </a>
          <a href="#" class="btn btn-ubicacion">
            <img
              src="../../../assets/icons/map.png"
              alt="Ubicacion"
              class="btn-icon"
            />
            <span class="btn-text">Ubicacion</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


